
.u-flex{
    display:flex;
    margin-top:80px;
    @include mq(){
        margin-top:60px;
    }
}
.u-title{
    margin-bottom:$space_m;
    margin-top:$space_m;
    text-align:center;
    font-weight:bold;
    font-size:$font-size_l;
}
.u-flash_message{
    position:absolute;
    background:rgb(128, 194, 235);
    width:450px;
    color:#fff;
    font-size:$font-size_l;
    top:30px;
    left:38%;
    padding:$space_s $space_m;
    box-sizing:border-box;
    text-align:center;
    border-radius:$space_s;
    z-index:5;
    @include mq(){
        left:-30px;
        text-align: center;
        top:0vh;
        font-size:14px;

    }
}
.u-admin-user{
    color:#Fbe8aD!important;
}
.u-edit-user{
    color:$edit-user;
}
.u-sp-none{
    @include mq(){
      display:none;
    }
}
.u-img-preview{
    border:3px solid orange;
    box-sizing:border-box;
    border-radius:5px;
    position:relative;
    left:-30px;
    display:block;
    @include mq(){
        left:0;
        width:50%;
    }
}
#u-image-input{
    position:relative;
    left:-30px;
    @include mq(){
        left:0;
    }
}
.u-label-img{
    position:relative;
    left: -30px;
    @include mq(){
        left:0;
    }
}
.u-validate{
    margin-top:$space_xxl;
}
#u-post-img{
    width:50px;
}
.u-edit-error{
    text-align:center;
}
#u-btn-warning{
    color:#fff;
}
.u-btn-category{
    margin-top: $space_l;
}
.u-admin-category{
    color:#Fbe8aD!important

}
.u-adlink{
    color:$edit-user;
}
.u-main-flex{
    display:flex;
    margin-left:100px;
    margin-right:100px;
    min-height:800px;
    @include mq(){
      margin-left:$space_l;
      margin-right:$space_l;
    }
    @include mq('lg'){
        margin-left:$space_xl;
        margin-right:$space_xl;
    }
}
.u-input-group{
    margin-bottom:$space_xl;
}
.u-btn-search{
    background:rgb(216, 180, 208);
    color:#fff;
    &:hover{
        color:rgb(255, 221, 148);
    }
}
.u-menu-trigger{
    display:none;
    @include mq(){
        display:inline-block;
    }
    transition: all .4s;
    box-sizing: border-box;
    position: absolute;
    top:11px;
    right:12px;
    width: 40px;
    height: 32px;
    z-index: 3;
    span{
        display:inline-block;
        transition: all .4s;
        box-sizing: border-box;
        position: absolute;
        left:0;
        width:100%;
        height:4px;
        background-color: rgb(92, 88, 84);
        border-radius: 4px;

        &:nth-of-type(1){
            top:0;
        }
        &:nth-of-type(2){
            top:14px;
        }
        &:nth-of-type(3){
            bottom:0;
        }
    }
    &.active span{
        &:nth-of-type(1){
            transform: translateY(12px) rotate(-45deg);
        }
        &:nth-of-type(2){
            opacity:0;
        }
        &:nth-of-type(3){
            transform: translateY(-15px) rotate(45deg);
        }
    }
}
.bg-pink{
    background:rgb(224, 194, 111)!important;
    min-height:820px;
}
.bg-orange{
    background:rgb(231, 203, 150);
    position:relative;
    top:100px;
}
.bg-change{
    background:rgb(243, 227, 232);
}
.posts-search{
  margin-top:$space_l;
  @include mq(){
      padding-left:$space_m;
      padding-right: $space_m;
      position:relative;
      top:10px;
  }
}
.btn-pink{
    background:rgb(245, 170, 201);
    color:#fff;
    @include mq(){
        background:rgb(224, 144, 90);
        position:relative;
        top:-2px;
    }
    &:hover{
        color:rgb(243, 148, 71);
        @include mq(){
            color:rgb(245, 170, 201);
        }
    }
}
.select-box{
    margin-left:$space_m;
    color:#fff;
    background:rgb(245, 213, 153);
    padding:0 $space_m;
    padding-top:$space_s;
    padding-bottom: 7px;
    box-sizing: border-box;
    border:#fff solid 1px;
    @include mq(){
        background:rgb(245, 170, 201);
        position:relative;
        left:13%;
    }

}
.sp-none{
    @include mq(){
        display:none!important;
    }
}


