#footer{
    background: -moz-linear-gradient(#ffb03c, #ff708d);
    background: -webkit-linear-gradient(#ffb03c, #ff708d);
    background: linear-gradient(to right, #ffb03c, #ff708d);
    height:50px;
    padding: 0.5em 1em;
    text-align:center;
    color:#fff;
    width:100%;
}
