#adminheader{
    height:80px;
    padding: 5px;
    box-sizing:border-box;
     padding: 0.5em 1em;
    background: -moz-linear-gradient(#ffb03c, #ff708d);
    background: -webkit-linear-gradient(#ffb03c, #ff708d);
    background: linear-gradient(to right, #ffb03c, #ff708d);
    position:fixed;
    align-items: center;
    justify-content:space-between;
    margin-bottom:80px;
    width:100%;
    left:0;
    top:0;
    z-index:4;
    @include mq(){
        height: 60px;
        margin-bottom:60px;
    }
}
