.p-post{
    padding:$space_l;
    color:#555;
    &__container1{
        display:flex;
    }
    &__route{
        font-size:$font-size_s;
        color: rgba(160, 147, 71, 0.842);
        .title{
            color:rgb(238, 110, 159);
        }
    }
    &__show{
        display:none;
        margin-left:$space_l;
        margin-top:$space_s;
        @include mq(){
            display:inline-block;

            img{
                background-size:cover !important;
                margin-bottom:$space_l;
                height:300px;
                background-position: center !important;
                vertical-align: middle !important;
                object-fit: cover;
                object-position: 100% 100%;
            }
        }
    }
    &__imgWrap{
        width:30%;
        margin-right: $space_l;
        @include mq(){
            display:none;
        }
    }
    &__sub{
        background:#f0c3d9;
        padding:$space_m;
        box-sizing:border-box;
        border-radius: $space_m;
        width:68%;
        word-wrap: break-word;
        @include mq(){
            width: 100%;
        }
    }
    &__img{
        background-size:cover !important;
        margin-bottom:$space_l;
        height:100%;
        width: 100%;
        background-position: center !important;
        vertical-align: middle !important;
        object-fit: cover;
        object-position: 100% 100%;
    }
    &__day{
        margin-bottom:$space_m;
    }
    &__area{
        margin-bottom:$space_m;
    }
    &__shop{
        margin-bottom:$space_m;
        font-size: $font-size_3l;
        color: rgb(60, 186, 202);
        a{
            color:#754c20;
        }
        @include mq(){
            font-size:$font-size_xl;
        }
    }
    &__review{
        padding:$space_l;
        border-radius:$space_l;
        line-height:200%;
        width:70%;
        margin:$space_xl auto;
        @include mq(){
            width:100%;
            p{
                img{
                    display:block;
                    width:100%!important;
                }
            }
        }

    }


}
